
*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blocks{
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-template-rows: repeat(24, 50px);
    gap: 20px;
    height: 426px;
    cursor: pointer;
}

.block{
    color: gray;
    border: 1px solid;
    background-color: grey;
}

.blocks .block:nth-child(4n +3){
    background-color: red;
}

.blocks .block:last-child,
.blocks .block:nth-last-child(1),
.blocks .block:nth-last-child(3),
.blocks .block:nth-last-child(4){
    background-color:blue
}

.left{
    padding: 0;
    height: 10px;
    border: none;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    width: 200px;
}

.right{
    margin-right: 200px;
    padding: 0;
    height: 10px;
    border: none;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    width: 200px;
}

.flex{
    display: flex;
    align-items: center
}

button{
    align-items:center;
    width: 501px;
    height: 92px;
    background: #44D3A8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: 0;
    color: white;
    cursor: pointer;
    float: left;
}

